[Unit]
Description=gi hello world
After=network.target

[Service]
User=akunal
Group=akunal
WorkingDirectory=/home/akunal/app/src/
Environment="PATH=/home/akunal/app/venv/bin"
EnvironmentFile=/home/akunal/.env
ExecStart=/home/akunal/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target